<main class="menu">
  <div class="nav">
    <div class="short-card">
      <div class="img">
        <img
          class="book-img"
          src="assets/img/main-menu/book.png"
          alt="book"
        />
        <img src="assets/img/main-menu/plus.png" alt="Mais" />
      </div>
      <span>Cadastrar Livro</span>
    </div>
    <div class="short-card">
      <div class="img">
        <img
          class="book-img"
          src="assets/img/main-menu/list.png"
          alt="Livros"
        />
      </div>
      <span>Pesquisar por Livros</span>
    </div>
    <div class="short-card">
      <div class="img">
        <img
          class="book-img"
          src="assets/img/main-menu/handshake.png"
          alt="Empréstimo"
        />
      </div>
      <span>Empréstimo/Devolução</span>
    </div>
  </div>
</main>
