<main class="menu">
  <div class="nav">
    <div class="short-card">
      <div class="img">
        <img
          class="book-img"
          src="https://raw.githubusercontent.com/CairoDeAndrade/Books4U-Frontend/main/assets/images/main-menu/book.png?token=GHSAT0AAAAAACG3XPDFWS4JBMT6XQVQQYKQZVK3CGA"
          alt="book"
        />
        <img src="https://raw.githubusercontent.com/CairoDeAndrade/Books4U-Frontend/main/assets/images/main-menu/plus.png?token=GHSAT0AAAAAACG3XPDELINVYI4GZ2MGQY24ZVK3DDA" alt="" />
      </div>
      <span>Cadastrar Livro</span>
    </div>
    <div class="short-card">
      <div class="img">
        <img class="book-img" src="https://raw.githubusercontent.com/CairoDeAndrade/Books4U-Frontend/main/assets/images/main-menu/list.png?token=GHSAT0AAAAAACG3XPDFQ7QR6N6TBN434O6YZVK3DXQ" alt="list" />
      </div>
      <span>Pesquisar por Livros</span>
    </div>
    <div class="short-card">
      <div class="img">
        <img class="book-img" src="https://raw.githubusercontent.com/CairoDeAndrade/Books4U-Frontend/main/assets/images/main-menu/handshake.png?token=GHSAT0AAAAAACG3XPDEGMAQC2KQ2P4J5VYWZVK3EYA" alt="plus" />
      </div>
      <span>Empréstimo/Devolução</span>
    </div>
  </div>
</main>
