.search-container {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  gap: 1rem;
}

.search-container > button {
  margin-top: 1dvh;
}

.input-field {
  width: 40%;
}

.table-container {
  width: 75%;
  margin: 0 auto;
}

table {
  width: 100%;
}

.actions-column {
  text-align: right;
  padding-right: 2vw;
}

.actions-column > .icon {
  margin-left: 1vw;
  cursor: pointer;

  height: 4vh;
  width: 2vw;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .table-container {
    width: 90%;
  }

  .actions-column > .icon {
    font-size: 1rem;
  }
}
