<div class="table-container">
  <table mat-table [dataSource]="books" class="mat-elevation-z8">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-column">Actions</th>
      <td mat-cell *matCellDef="let book" class="actions-column">
        <mat-icon class="icon" color="primary">handshake</mat-icon>
        <mat-icon class="icon" color="primary">edit</mat-icon>
        <mat-icon class="icon" color="warn">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
